.vps-main-page-div{
	background-color: white; 
	padding:17px; 
	margin-right:17px; 
	border-radius:10px; 
	margin-top:10px;
}

.vps-main-page-greeting{
	padding:20px; 
	margin-right:13px;
	margin-bottom:5px;
}

.vps-username-box{
	border-radius:3px;
	padding:9px;
	color:white; 
	background-color: #2e3b48;
}

.vps-main-page-header{
	text-align: center; 
	background-color: #2a4d6e; 
	padding:10px; 
	color:white; 
	border-radius:2px;
    margin-left:39px; 
    margin-right:39px; 
    margin-top:20px; 
    margin-bottom: 20px;
}

.vps-main-page-header-font{
	text-align: center; 
	color:white; 
	font-size:220%;
}

.vps-menu-buttons-wrapper{
	padding:20px;
}

.vps-row{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.vps-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.vps-results-display-div {
	background-color: white; 
	padding:24px 23px 23px 39px; 
	margin-right:17px; 
	border-radius:10px; 
	margin-top:10px;
}

