.vps-main-page-div{
	background-color: white; 
	padding:17px; 
	margin-right:17px; 
	border-radius:10px; 
	margin-top:10px;
}

.vps-main-page-greeting{
	padding:20px; 
	margin-right:13px;
	margin-bottom:5px;
}

.vps-username-box{
	border-radius:3px;
	padding:9px;
	color:white; 
	background-color: #2e3b48;
}

.vps-main-page-header{
	text-align: center; 
	background-color: #2a4d6e; 
	padding:10px; 
	color:white; 
	border-radius:2px;
    margin-left:39px; 
    margin-right:39px; 
    margin-top:20px; 
    margin-bottom: 20px;
}

.vps-main-page-header-font{
	text-align: center; 
	color:white; 
	font-size:220%;
}

.vps-menu-buttons-wrapper{
	padding:20px;
}

.vps-image-small{
   border-radius:2px;
   width: 300px;
   height: 190px;
   object-fit: cover;
   margin:10px;
}

.vps-noto-sans-font{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:92%;
}

.vps-noto-sans-font-title{
  font-family: 'Noto Sans JP', sans-serif;
}

.vps-row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="vps-col-"] {
  float: left;
  padding: 0px;
}

.vps-col-selectbox{
    width:30%;
    background-color: #3b7f96;
    color:white;
    margin-bottom:15px;
    font-size:90%;
  }

  .vps-select-box{
    font-size:90%;
  }

  .vps-iframe{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:220px;
    align-content:center;
  }

  .vps-noto-sans-font{
    font-family: 'Noto Sans JP', sans-serif;
    font-size:78%;
  }

  .vps-col-4-postmeta{
    width:37%;
    background-color:#f3f3f3;
    border-top:2px solid #abc3bd;
    padding-left:8px;
    padding-top:8px;
  }

  .vps-col-8-video{
    width:61%;
    padding:8px;
    margin-bottom:2px;
    box-shadow: 1px 1px 2px #d3d9de;
  }

.vps-col-1 {width: 8.33%;}
.vps-col-2 {width: 16.66%;}
.vps-col-3 {width: 25%;}
.vps-col-4 {width: 33.33%;}
.vps-col-5 {width: 41.66%;}
.vps-col-6 {width: 50%;}
.vps-col-7 {width: 58.33%;}
.vps-col-8 {width: 66.66%;}
.vps-col-9 {width: 75%;}
.vps-col-10 {width: 83.33%;}
.vps-col-11 {width: 91.66%;}
.vps-col-12 {width: 100%;}


@media screen and (max-width: 940px){
  .vps-col-selectbox{
    width:50%;
    background-color: #3b7f96;
    color:white;
    margin-bottom:15px;
    font-size:90%;
    padding:13px;
    box-shadow:1px 1px 2px lightgrey;
  }

  .vps-select-box{
    font-size:90%;
  }

  .vps-iframe{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:220px;
    align-content:center;
  }

  .vps-noto-sans-font{
    font-family: 'Noto Sans JP', sans-serif;
    font-size:78%;
  }

  .vps-col-4-postmeta{
    width:37%;
    background-color:#f3f3f3;
    border-top:2px solid #abc3bd;
    padding-left:8px;
    padding-top:8px;
  }

  .vps-col-8-video{
    width:61%;
    padding:8px;
    margin-bottom:2px;
    box-shadow: 1px 1px 2px #d3d9de;
  }
}

@media screen and (max-width: 600px) {
  .vps-col-1{width:100%;}
  .vps-col-2{width:100%;}
  .vps-col-3{width:100%;}
  .vps-col-4{width:100%;}
  .vps-col-5{width:100%;}
  .vps-col-6{width:100%;}
  .vps-col-7{width:100%;}
  .vps-col-8{width:100%;}
  .vps-col-9{width:100%;}
  .vps-col-10{width:100%;}
  .vps-col-11{width:100%;}
  .vps-col-12{width:100%;}

  .vps-col-selectbox{
    width:70%;
    background-color: #3b7f96;
    color:white;
    margin-bottom:15px;
    font-size:90%;
    padding:13px;
    box-shadow:1px 1px 2px lightgrey;
  }

  .vps-select-box{
    font-size:90%;
  }

  .vps-iframe{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:150px;
    align-content:center;
  }

  .vps-noto-sans-font{
    font-family: 'Noto Sans JP', sans-serif;
    font-size:85%;
  }

  .vps-col-4-postmeta{
    width:100%;
    background-color:#f3f3f3;
    border-top:2px solid #abc3bd;
    padding-left:8px;
    padding-top:8px;
  }

  .vps-col-8-video{
    width:100%;
    padding-top:2px;
    margin-bottom:2px;
    box-shadow: none;
  }

}




