.vps-main-page-div{
	background-color: white; 
	padding:17px; 
	margin-right:17px; 
	border-radius:10px; 
	margin-top:10px;
}

.vps-main-page-greeting{
	padding:20px; 
	margin-right:13px;
	margin-bottom:5px;
}

.vps-username-box{
	border-radius:3px;
	padding:9px;
	color:white; 
	background-color: #2e3b48;
}

.vps-main-page-header{
	text-align: center; 
	background-color: #2a4d6e; 
	padding:10px; 
	color:white; 
	border-radius:2px;
    margin-left:39px; 
    margin-right:39px; 
    margin-top:20px; 
    margin-bottom: 20px;
}

.vps-main-page-header-font{
	text-align: center; 
	color:white; 
	font-size:220%;
}

.vps-menu-buttons-wrapper{
	padding:20px;
}

.vps-results-display-div {
	background-color: white; 
	padding:24px 23px 23px 39px; 
	margin-right:17px; 
	border-radius:10px; 
	margin-top:10px;
}

.vps-image-small{
   border-radius:2px;
   width: 300px;
   height: 190px;
   object-fit: cover;
   margin:10px;
}

.vps-row::after {
  content: "";
  clear: both;
  display: table;
}

.vps-div-border{
  border:1px solid lightgrey;
  margin-top:16px;
  padding:25px 10px 0px 20px;
}

[class*="vps-col-"] {
  float: left;
  padding: 15px;
}

.vps-col-1 {width: 8.33%;}
.vps-col-2 {width: 16.66%;}
.vps-col-3 {width: 25%;}
.vps-col-4 {width: 33.33%;}
.vps-col-5 {width: 41.66%; border:1px solid lightgrey;}
.vps-col-6 {width: 50%;}
.vps-col-7 {width: 58.33%;}
.vps-col-8 {width: 66.66%;}
.vps-col-9 {width: 75%;}
.vps-col-10 {width: 83.33%;}
.vps-col-11 {width: 91.66%;}
.vps-col-12 {width: 100%;}

@media screen and (max-width: 600px) {
  .vps-col-1{width:100%;}
  .vps-col-2{width:100%;}
  .vps-col-3{width:100%;}
  .vps-col-4{width:100%;}
  .vps-col-5{width:100%;}
  .vps-col-6{width:100%;}
  .vps-col-7{width:100%;}
  .vps-col-8{width:100%;}
  .vps-col-9{width:100%;}
  .vps-col-10{width:100%;}
  .vps-col-11{width:100%;}
  .vps-col-12{width:100%;}
}
